.container {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-color: black;
    text-align: center;
}
.logo {
    width: 30%;
    height: auto;
    margin: 40x;
}
.title {
    font-size: xx-large;
    color:white;
}
.desc {
    font-size: medium;
    color: white;
}
body {
    font-family: sans-serif;
    margin: 0px;
}


.emphasis {
    font-weight: 700;
    font-style: normal;
}

.privacyContainer {
    width: 100%;
    height: auto;
    margin: 16px;
}
.description {
    margin-left: 20px;
}
.secTitle {
    padding: 0px;
    margin: 0px;
}

.section {
    line-height: 1.2em;
}

.divider {
    min-height: 0.2em;
}

.subsection {
    margin: 0;
    line-height: 0.3em;
}
 
ul {
    list-style: none;
    padding-left: 0px;
}

.subdesc {
    line-height: 1.2em;
}
